
ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

.nav-container {
    padding: 0;
}

.logo {
    background:        #ffffff;
    box-shadow:         0 0 0 4px #3a98e2, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    position:           absolute;
    z-index:            1;
    padding:            10px;
}

.nav {
    height:             80px;
    width:              100%;
    background-color:   #232a40;
    text-transform:     uppercase;
}