body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth
}
p, h1, h2, h3, h4, h5, h6, figure, ul {
    margin: 0
}
ul {
    padding: 0
}
figcaption {
    height: 50px;
    padding: 4px 8px
}